# C#
*.suo
*.user
/.vs/
/Imdb/bin/
/Imdb/obj/
/Imdb.Loader/bin/
/Imdb.Loader/obj/
/Imdb.Models/bin/
/Imdb.Models/obj/

# JS
/Imdb.WebApp/.angular
/Imdb.WebApp/.vscode/
/Imdb.WebApp/dist
/Imdb.WebApp/node_modules

# Additional
/binaries/
/Databases/
/Logs/