# C#
*.suo
*.user
/Imdb/.vs/
/Imdb/Imdb/bin/
/Imdb/Imdb/obj/
/Imdb/Imdb.Loader/bin/
/Imdb/Imdb.Loader/obj/
/Imdb/Imdb.Models/bin/
/Imdb/Imdb.Models/obj/

# JS
/Imdb.WebApp/.angular
/Imdb.WebApp/.vscode
/Imdb.WebApp/dist
/Imdb.WebApp/node_modules

# Additional
/binaries/
/Imdb/Databases/
/Imdb/Logs/