<div class="layout">
    <div class="topnav">
        <a routerLink="/name-basics" routerLinkActive="active">Name Basics</a>
        <a routerLink="/title-akas" routerLinkActive="active">Title Akas</a>
        <a routerLink="/title-basics" routerLinkActive="active">Title Basics</a>
        <a routerLink="/title-crew" routerLinkActive="active">Title Crew</a>
        <a routerLink="/title-episodes" routerLinkActive="active">Title Episodes</a>
        <a routerLink="/title-principals" routerLinkActive="active">Title Principals</a>
        <a routerLink="/title-ratings" routerLinkActive="active">Title Ratings</a>
        <div class="topnav-right">
            <a href="https://github.com/cho3ek89/Imdb">About</a>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>